﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    var cultureItems = LocOptions.Value.SupportedUICultures!
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();

    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<div class="container" title="@Localizer["Choose a language"]">
    <form id="selectLanguage" asp-controller="News" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" method="post" class="form-horizontal" role="form">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                @*<label class="text-muted">@Localizer["Language:"]</label>*@
                <div class="btn-group">
                    <button type="submit" class="btn btn-secondary @(requestCulture?.RequestCulture.UICulture.Name == "bg-BG" ? "active" : "")" name="culture" value="bg-BG">
                        <img src="/images/bulgaria.png" alt="Bulgarian flag" style="width: 20px; height: 20px" />
                    </button>
                    <button type="submit" class="btn btn-secondary @(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? "active" : "")" name="culture" value="en-US">
                        <img src="/images/united-states.png" alt="American flag" style="width: 20px; height: 20px" />
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>