@inject IViewLocalizer Localizer

@model List<VehicleViewModel>

@{
    ViewBag.Title = Localizer["My Vehicles"];
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (Model.Any())
    {
        @foreach (var vehicle in Model)
        {
            <div class="card col-4" style="width: 20rem; ">
                <div class="card-body">
                    <h5 class="card-title mt-1">@vehicle.Make</h5>
                    <p class="mb-0">@Localizer["Model:"] <b>@vehicle.Model</b></p>
                    <p class="mb-0">@Localizer["Production Year:"] <b>@vehicle.ProductionYear</b></p>
                    <p class="mb-0">@Localizer["Horsepower:"] <b>@vehicle.HorsePower</b></p>
                    @if (vehicle.EngineCapacity != null)
                    {
                        <p class="mb-0">@Localizer["Engine Capacity:"] <b>@vehicle.EngineCapacity</b><b>cc</b></p>
                    }
                    <p class="mb-0">@Localizer["Price:"] <b>$@vehicle.Price</b></p>
                    <p>@Localizer["Category:"] <b>@vehicle.Category</b></p>
                </div>

                <form method="get" class="input-group-sm" asp-controller="Marketplace" asp-action="Sell" asp-route-id="@vehicle.Id">
                    <input type="submit" value="@Localizer["Sell"]" class="fs-6 btn btn-danger w-100 mb-3 p-2" />
                </form>
            </div>
        }
    }
    else
    {
        <div class="text-center">
            <p class="display-6">@Localizer["You don't own any vehicles."]</p>
            <p class="display-7">@Localizer["You can buy one by visiting the"] <a href="/Marketplace/Index">@Localizer["Marketplace"]</a>.</p>
        </div>
    }
</div>