@using Microsoft.AspNetCore.Identity;
@using OffRoadWorld.Data.Models;

@inject IViewLocalizer Localizer
@inject UserManager<ApplicationUser> userManager

@model List<EventViewModel>

@{
    ViewBag.Title = Localizer["Upcoming Events"];
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (Model.Any())
    {
        @foreach (var e in Model)
        {
            <div class="card col-4" style="width: 20rem; ">
                <div class="card-body">
                    <h5 class="card-title mt-1">@e.Title</h5>
                    <p class="mb-0"><span class="fw-bold">@Localizer["Starting:"] </span>@e.Start.ToString("dd-MM-yyyy HH:mm")</p>
                    <p class="mb-0"><span class="fw-bold">@Localizer["Location:"] </span>@e.Location</p>
                    <p class="mb-0"><span class="fw-bold">@Localizer["Category:"] </span>@e.Category</p>
                </div>

                <a asp-controller="Event" asp-action="Details" asp-route-id="@e.Id" class="btn btn-primary mb-2 w-100 p-3 fw-bold">@Localizer["View Details"]</a>
                @if (User.Identity!.Name == e.Owner)
                {
                    <a asp-controller="Event" asp-action="Edit" asp-route-id="@e.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">@Localizer["Edit"]</a>
                }
                else
                {
                    var currentUserId = userManager.GetUserId(User);

                    if (e.Participants.Any(e => e.ParticipantId == currentUserId))
                    {
                        <form id="leaveEventForm" class="input-group-sm " asp-controller="Event" asp-action="LeaveEvent" asp-route-id="@e.Id">
                            <input type="submit" value="@Localizer["Leave Event"]" class="fs-6 btn btn-danger mb-2 w-100 p-3 fw-bold" />
                        </form>
                    }
                    else
                    {
                        <form class="input-group-sm " asp-controller="Event" asp-action="Join" asp-route-id="@e.Id">
                            <input type="submit" value="@Localizer["Join Event"]" class="fs-6 btn btn-success mb-2 w-100 p-3 fw-bold" />
                        </form>
                    }
                }
            </div>
        }
    }
    else
    {
        <div class="text-center">
            <p class="display-6">@Localizer["There are currently no events scheduled."]</p>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}