@model EventFormModel
@{
    ViewBag.Title = "Edit Info for an Event";
}

<script>
    $(document).ready(function () {
        var selectedCity = '@Model.City';

        $('#CountryDropdown').change(function () {
            var selectedCountry = $(this).val();

            if (selectedCountry) {
                var cities = {
                    Bulgaria: ['Montana', 'Chiprovtsi', 'Vratsa', 'Pleven', 'Sofia'],
                    Romania: ['Timisoara', 'Cluj-Napoca', 'Brasov', 'Iasi', 'Constanta'],
                    Iceland: ['Reykjavik', 'Akureyri', 'Isafjordur', 'Egilsstadir', 'Hafnarfjordur'],
                    Poland: ['Warsaw', 'Krakow', 'Gdansk', 'Poznan', 'Wroclaw'],
                    Germany: ['Berlin', 'Munich', 'Hamburg', 'Frankfurt', 'Cologne']
                };

                var countryCities = cities[selectedCountry];
                populateCityDropdown(countryCities);
                $('#CityDropdownContainer').show();
            } else {
                $('#CityDropdown').empty();
                $('#CityDropdownContainer').hide();
            }
        });

        function populateCityDropdown(cityArray) {
            var cityDropdown = $('#CityDropdown');
            cityDropdown.empty();

            $.each(cityArray, function (index, city) {
                var option = $('<option>').val(city).text(city);

                if (city === selectedCity) {
                    option.attr('selected', 'selected');
                }

                cityDropdown.append(option);
            });
        }
        $('#CountryDropdown').trigger('change');
    });
</script>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label-add-edit">Title</label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label-add-edit">Description</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Start" class="form-label-add-edit">Start</label>
                <input asp-for="@Model.Start" class="form-control" aria-required="true" value="@Model.Start.ToString("yyyy-MM-dd H:mm")" />
                <span asp-validation-for="@Model.Start" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="CountryDropdown">Country</label>
                <select asp-for="@Model.Country" class="form-control" id="CountryDropdown">
                    <option value="">Select a country</option>
                    <option value="Bulgaria">Bulgaria</option>
                    <option value="Romania">Romania</option>
                    <option value="Iceland">Iceland</option>
                    <option value="Poland">Poland</option>
                    <option value="Germany">Germany</option>
                </select>
            </div>
            <div class="mb-3" id="CityDropdownContainer">
                <label for="CityDropdown">City</label>
                <select asp-for="@Model.City" class="form-control" id="CityDropdown"></select>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Address" class="form-label-add-edit">Address</label>
                <input asp-for="@Model.Address" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CategoryId" class="form-label-add-edit">Catergory of event</label>
                <select asp-for="@Model.CategoryId" class="form-control" aria-required="true">
                    @foreach (var category in Model.Categories)
                    {
                            <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-success mb-2 w-100 p-3 fw-bold" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}