@inject IViewLocalizer Localizer

@model List<EventViewModel>
﻿
@{
    ViewBag.Title = Localizer["Joined Events"];
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (Model.Any())
    {
        @foreach (var e in Model)
        {
            <div class="card col-4" style="width: 20rem; ">
                <div class="card-body">
                    <h5 class="card-title mt-1">@e.Title</h5>
                    <p class="mb-0"><span class="fw-bold">@Localizer["Start:"] </span>@e.Start.ToString("dd-MM-yyyy HH:mm")</p>
                    <p class="mb-0">@Localizer["Location:"] @e.Location</p>
                    <p class="mb-0"><span class="fw-bold">@Localizer["Category:"] </span>@e.Category</p>
                </div>

                <a asp-controller="Event" asp-action="Details" asp-route-id="@e.Id" class="btn btn-primary mb-2 w-100 p-3 fw-bold">@Localizer["View Details"]</a>

                <form class="input-group-sm " asp-controller="Event" asp-action="LeaveEvent" asp-route-id="@e.Id">
                    <input type="submit" value="@Localizer["Leave Event"]" class="fs-6 btn btn-danger mb-3 w-100 p-3 fw-bold" />
                </form>

            </div>
        }
    }
    else
    {
        <div class="text-center">
            <p class="display-6">@Localizer["You are not participating in any events."]</p>
            <p class="display-7">@Localizer["You can browse all upcoming events"] <a href="/Event/All">@Localizer["here"]</a>.</p>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}