@using System.Text.RegularExpressions;

@inject IViewLocalizer Localizer

@model List<TopicViewModel>

@{
    var currentCategory = "Empty";
    if (Model.Any())
    {
        currentCategory = Model.First(t => t.Forum != null).Forum;
        ViewBag.Title = currentCategory;
    }
    else
    {
        ViewBag.Title = Localizer["Forum"];
    }
}
<input type="hidden" name="categoryId" value="@TempData["CategoryId"]" />

@if (Model.Any())
{
    <div class="container my-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4">@currentCategory</h2>
                <hr />
                <a class="btn btn-secondary mt-2" href="@Url.Action("Index", "Forum")" type="submit">@Localizer["Back"]</a>
                <a class="btn btn-primary mt-2" href="@Url.Action("AddTopic", "Forum", new { categoryId = Model.First(f => f.ForumId > 0).ForumId })" type="submit">@Localizer["New Topic"]</a>
                <div class="list-group">
                    <br />
                    @foreach (var topic in Model.OrderByDescending(p => p.CreatedAt))
                    {
                        var shortenedContent = topic.Content.Length >= 86 ? topic.Content.Substring(0, 86) + "..." : topic.Content;

                        <a href="@Url.Action("Post", "Forum", new { topicId = topic.Id })" class="list-group-item list-group-item-action">
                            <div class="d-flex justify-content-between">
                                <h5>@topic.Title</h5>
                                <span class="badge badge-primary" style="color: grey; text-align: right;">
                                    @Localizer["Published:"] @topic.CreatedAt.ToString("dd-MMM-yyyy")
                                    <br />
                                    @topic.CreatedAt.ToString("HH:mm")
                                    <br />
                                    @Localizer["Started by:"] @Regex.Match(@topic.Owner.UserName, @"([A-Za-z]*)").Groups.Values.First()
                                </span>
                            </div>
                            <p>@shortenedContent</p>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="pagination">
            @if (ViewBag.CurrentPage > 1)
            {
                <a href="?categoryId=@TempData["CategoryId"]&page=@(ViewBag.CurrentPage - 1)" class="previous">@Localizer["Previous"]</a>
            }

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                if (ViewBag.TotalPages > 1)
                {
                    <a href="?categoryId=@TempData["CategoryId"]&page=@i" class="@(i == ViewBag.CurrentPage ? "active" : "")">@i</a>
                }
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <a href="?categoryId=@TempData["CategoryId"]&page=@(ViewBag.CurrentPage + 1)" class="next">@Localizer["Next"]</a>
            }
        </div>
    </div>
}
else
{
    <h2 class="text-center">@Localizer["Forum"]</h2>
    <hr />

    <div class="text-center row">
        <div class="text-center">
            <p class="display-6">@Localizer["There are still no topics added to this forum category."]</p>
            <p class="display-7">
                @Localizer["You can create one by clicking"]
                <a href="@Url.Action("AddTopic", "Forum", new { categoryId = TempData["CategoryId"] })">@Localizer["here"]</a>.
            </p>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}