@model ICollection<MarketplaceViewModel>
@{
    ViewBag.Title = "Marketplace";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get" action="/Marketplace">
    <div class="input-group">
        <input type="text" class="form-control" name="search" value="@ViewBag.SearchQuery" placeholder="Search Make, Model or Category">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>
<br />
<!--TODO: ADD SORT AND FILTER-->

<div class="text-center row">
    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            <div class="card col-4" style="width: 20rem; ">
                <img class="card-img-top" style="width: 18rem;"
                     src="@item.ImageUrl" alt="Vehicle Image">
                <div class="card-body" style="width: 20rem;">

                    <h5 class="card-title mt-1">@item.Make</h5>
                    <p class="mb-0">Model: <b>@item.Model</b></p>
                    <p class="mb-0">Production Year: <b>@item.ProductionYear</b></p>
                    <p class="mb-0">Price: <b>$@item.Price.ToString("f2")</b></p>
                    <p>Category: <b>@item.Category</b></p>
                </div>
                <a asp-controller="Vehicle" asp-action="Details" asp-route-id="@item.VehicleId" class="btn btn-primary mb-2 w-100 p-3 fw-bold">View Details</a>
                @if (User.Identity!.Name == item.Seller)
                {
                    <a asp-controller="Marketplace" asp-action="Sell" asp-route-id="@item.VehicleId" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
                }
                else
                {
                    <a class="input-group-sm" asp-controller="Marketplace" asp-action="Buy" asp-route-id="@item.VehicleId">
                        <input type="submit" value="Buy Vehicle" class="fs-6 btn btn-success mb-2 w-100 p-3 fw-bold" />
                    </a>
                }
            </div>
        }
    }
    else
    {
        if (!string.IsNullOrEmpty(ViewBag.SearchQuery))
        {
            <div class="text-center">
                <p class="display-7">No results found for "@ViewBag.SearchQuery".</p>
            </div>
        }
        else
        {
            <div class="text-center">
                <p class="display-6">Marketplace has no listed items.</p>
            </div>
        }
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}