@inject IViewLocalizer Localizer

@model VehicleViewModel

@{
    ViewBag.Title = Localizer["Sell {0}", Model.Make];
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Sell" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Make" class="form-label">@Localizer["Make"]</label>
                <input asp-for="@Model.Make" class="form-control" aria-required="true" disabled/>
                <span asp-validation-for="@Model.Make" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Model" class="form-label">@Localizer["Model"]</label>
                <input asp-for="@Model.Model" class="form-control" aria-required="true" disabled />
                <span asp-validation-for="@Model.Model" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ProductionYear" class="form-label">@Localizer["Production Year"]</label>
                <input asp-for="@Model.ProductionYear" class="form-control" value="@Model.ProductionYear" disabled />
                <span asp-validation-for="@Model.ProductionYear" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label">@Localizer["Image URL"]</label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
            </div>          
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label">@Localizer["Price"]</label>
                <input asp-for="@Model.Price" class="form-control" aria-required="true" value="@Model.Price" />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-danger" type="submit" value="@Localizer["Sell"]" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}